/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* CUSTOM SCROLL BAR CSS ==================================== */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #F1F1F1;
}
::-webkit-scrollbar-thumb{
    background:#6E93F7;
    border-radius:12px;
}
::-webkit-scrollbar-thumb:hover{
    background: #4070F4;
    
}

nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease;
    z-index: 50;
}
nav.sticky{
    padding: 13px 0;
    background: #4070F4;
     
}


nav .navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav .navbar .logo a{
    font-size: 40px;
    font-weight: 500;
    color: #4070F4;
}

nav .navbar .menu{
    display: flex;
}
nav .navbar .menu li{
    margin: 0 8px;
    list-style: none;
}

.navbar .menu li a{
    font-size: 18px;
    font-weight: 500;
    color: #0E2431;
    transition: all 0.4s ease;
}
.navbar .menu li a:hover{
    color: #4070F4;
}

.navbar .media-icons a{
    font-size: 18px;
    margin: 0 6px;
    color: #4070F4;
}
/* Side navigation menu button CSS */
nav .menu-btn, .navbar .cancel-btn{
    position: absolute;
    color: #FFF;
    font-size: 20px;
    right: 30px;
    top: 20px;
    display: none;
}
nav .menu-btn:hover, .navbar .cancel-btn:hover{
    cursor: pointer;
}
nav.sticky .menu-btn{
    color: #FFF;
}

nav.sticky .navbar .logo a, nav.sticky .navbar .menu li a,nav.sticky .navbar .media-icons a i{
    color: #FFF; 
}
nav.sticky .navbar .menu li a:hover{
    color: #0E2431;
}
/* Home section */

.home{
    height: 100vh;
    width: 100%;
    background: url("images/background.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: #0E2431;
    
}
/* home text content */
.home .text .text-one{
    font-size:25px;
}  
.home .text .text-two{
    font-size:75px;
    font-weight: 600;
    margin: -3px;
    
}  
.home .text .text-three{
    font-size:40px;
    color: #4070F4;
}  
.home .text .text-four{
    font-size:23px;
    margin: 5px 0;
    margin-left: 3px;
}  
 .button button{
    outline: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    background: #4070F4;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease ;
}
 .button button:hover{
    color: #4070F4;
    background-color: #FFF;
    border-color: #4070F4;
}

/* about section css ====================================================== */
section{
    /* height: 100vh; */
    padding-top: 40px;
    padding-bottom: 50px;
}
section .content {
    width: 90%;
    /* background-color: red; */
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
    /* background-color: red; */
}
.about .about-details{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0E2431;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
section .title span{
    font-size: 40px;
    font-weight: 450;
    position: relative;
    padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #4070F4;
}
section .title span::after{
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    bottom: -7px;
}
.about .about-details .right img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}
.about .about-details .left{
    width: 50%;
}
.about .about-details .right{
    width: 50%;
}
section .topic{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about-details .left p{
    text-align: justify;
}
section .button{
    margin: 16px 0;
  }


  /* My Skills SECTION ============*/
.skills{
    background: #e2f2ff;
}

.skills .content{
    padding: 20px 0;
}

.skills .skill-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill-details .left{
    width: 50%;
  
}
.skill-details p{
    text-align: justify;
    color: #0E2431;
}

.skill-details .experience{
    display: flex;
    align-items: center;
    text-align: left;
}
.skill-details .experience .num{
    font-size: 80px;
    font-weight: 500;

}
.skill-details .experience .exp{
    font-size: 18px;
    font-weight: 500;
}

.skill-details .boxes{
    width: 45%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    color: #517cf3;
    
}
.skill-details .boxes .box{
    width:40%;
    margin: 20px 10px;
    /* border: 2px solid black; */
}
.skill-details .boxes .box .topic{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.skill-details .boxes .box .num{
    font-size: 60px;
    font-weight: 500;
    text-align: center;
}



/* ============================================================================ */
        /* My Service Section Start here */
.services .boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services .boxes .box{
    flex: 0 0 31.33%;
    /* width: calc(100%/3 -20px) */
    margin: 20px 0;
    border-radius: 12px;
    box-shadow:0 5px 10px rgba(0,0,0,00.15);
    text-align:center;
    padding: 20px 10px;
    transition: all 0.4s ease;
}
.services .boxes .box:hover{
    background: #4070F4;
    color: #FFF;
}
.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    color: #FFF;
    background:#4070F4;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}
.services .boxes .box:hover .icon{
    color: #4070F4;
    background: #fff;
}

.services .boxes .box:hover .topic{
    color: #FFF;
}


/* Contact Sectioin Css */
.contact{
    background: #F0F8FF;
    padding: 20px 0;
}
.contact .text{
    text-align: center;
    margin: auto;
    width: 80%;
}

/* Footer section CSS =====================================*/
footer{
    background: #4070F4;
    text-align: center;
    padding:15px;
    margin-bottom: -20px;
    font-family: 'Poppins', sans-serif;
}

footer .text span{
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}
footer .text span a{
    color:#FFF;
    font-size: 16px;
    font-weight: 500;
}

/* Scroll button CSS===================================== */
.scroll-btn i{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 12px;
    background: #4070F4;
    color: #FFF;
    font-size: 18px;
    border-radius: 6px;
    box-shadow:0 5px 10px rgba(0,0,0,0.15)
}



/* Responsive Media Query CSS */

/* media query for about section */
@media (max-width: 1190px) {
    section .content{
      width: 85%;
    }
  }
  @media (max-width: 1000px) {
    .about .about-details{
      justify-content: center;
      flex-direction: column;
    }
    .about .about-details .right{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .about-details .right{
      width: 90%;
      margin: 40px 0;
    }
    .about .about-details .left {
        
        width: 80%;
    }
    .about .about-details .topic{
        text-align: center;
    }
    #cv-btn{
        display: flex;
        justify-content: center;
    }
    .services .boxes .box{
        flex: 0 0 48%;
        }
  }


@media (max-width:750px){
    nav .navbar .menu{
        position: absolute;
        left: 100%;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background:#0E2431;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
    }
    nav .navbar.active .menu{
        left: 0;
    }
    .navbar .menu li a{
        display: block;
        margin: 10px 0;
        font-size: 23px;
        color: #FFF;
    }
    nav.sticky .navbar .menu li a:hover{
        color:#4070F4
    }
    .navbar .media-icons a{
        display: none;
    }
    nav .menu-btn, .navbar .cancel-btn{
        display: block;
        color: #4070F4;
    }
    .navbar .cancel-btn{
        color: #FFF;
    }
    .home .text .text-two{
        font-size: 65px;
    }
    .home .text .text-three{
        font-size: 35px;
    }
    .home{
        background-position:70%;
        background-size:cover;
    }
    .skills .skill-details{
        flex-direction: column;
        justify-content:center;
    }
    .skill-details .left{
        width: 90%;
        text-align: center;
    }
    .skill-details .left p{
        text-align: center;
    }
    .skill-details .box{
        width: 10%;
    }
    .skill-details .boxes{
       width: 80%;
    }
    .skill-details .experience{
        justify-content: center;
    }
    .services .boxes .box{
        flex: 0 0 100%;
        }
    .contact .text{
        width: 95%;
    }
}
@media (max-width:500px){
    .home .text .text-two{
        font-size: 50px;
    }
    .home .text .text-three{
        font-size: 30px;
    }
}

